# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# Data files (but not code)
data/raw/
data/processed/
data/chroma/
**/chroma.sqlite3
**/*.sqlite3
**/*.sqlite
**/*.db

# Jupyter notebooks
.ipynb_checkpoints

# Model checkpoints and cached files
checkpoints/
.cache/
models/saved/
models/wandb/
artifacts/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# WandB
wandb/
wandb/*
.wandb/
.wandb/*
*.wandb
wandb-debug.log
wandb-summary.json
wandb/debug-internal.log
wandb/debug.log
wandb/latest-run
debug.log
debug-internal.log

# env
.env
data/processed/matches.json
